#_py-xgboost-mutex==2
alembic==1.13.1
altair==5.3.0
aniso8601==9.0.1
annotated-types==0.7.0
ansi2html==1.9.1
asttokens==2.4.1
attrs==23.2.0
aws-c-auth==0.7.22
aws-c-cal==0.6.14
aws-c-common==0.9.19
aws-c-compression==0.2.18
aws-c-event-stream==0.4.2
aws-c-http==0.8.1
aws-c-io==0.14.8
aws-c-mqtt==0.10.4
aws-c-s3==0.5.9
aws-c-sdkutils==0.1.16
aws-checksums==0.1.18
aws-crt-cpp==0.26.9
aws-sdk-cpp==1.11.329
bcrypt==4.1.3
beautifulsoup4==4.12.3
blinker==1.8.2
bottleneck==1.3.8
brotli==1.1.0
brotli-bin==1.1.0
brotli-python==1.1.0
bzip2==1.0.8
c-ares==1.28.1
ca-certificates==2024.2.2
cachetools==5.3.3
cairo==1.18.0
catalogue==2.0.10
catboost==1.2.5
category_encoders==2.6.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
chart-studio==1.1.0
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
colorama==0.4.6
colorlover==0.3.0
comm==0.2.2
confection==0.1.4
contourpy==1.2.1
cryptography==42.0.7
cufflinks-py==0.17.3
cycler==0.12.1
cymem==2.0.8
cython==3.0.10
cython-blis==0.7.10
dacite==1.8.1
dash==2.17.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datefinder==0.7.3
debugpy==1.8.1
decorator==5.1.1
deprecated==1.2.14
deprecation==2.1.0
docker-py==7.1.0
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
expat==2.6.2
faker==25.2.0
favicon==0.7.0
flask==3.0.3
flask-cors==3.0.10
font-ttf-dejavu-sans-mono==2.37
font-ttf-inconsolata==3
font-ttf-source-code-pro==2.038
font-ttf-ubuntu==0.83
fontconfig==2.14.2
fonts-conda-ecosystem==1
fonts-conda-forge==1
fonttools==4.52.4
freetype==2.12.1
fribidi==1.0.10
fst-pso==1.8.1
funcy==2
future==1.0.0
fuzzytm==2.0.5
gensim==4.3.2
getopt-win32==0.1
gitdb==4.0.7
gitpython==3.1.43
graphene==3.3
graphite2==1.3.13
graphql-core==3.2.3
graphql-relay==3.2.0
graphviz==11.0.0
greenlet==3.0.3
gts==0.7.6
harfbuzz==8.5.0
htbuilder==0.6.1
htmlmin==0.1.12
icu==73.2
idna==3.7
imagehash==4.3.1
imbalanced-learn==0.12.2
importlib-metadata==6.10.0
importlib-resources==6.4.0
importlib_metadata==6.10.0
importlib_resources==6.4.0
intel-openmp==2023.2.0
ipykernel==6.29.3
ipython==8.24.0
ipywidgets==8.1.2
itsdangerous==2.2.0
jedi==0.19.1
jinja2==3.1.4
joblib==1.3.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-dash==0.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.10
kaleido-core==0.2.1
kiwisolver==1.4.5
kmodes==0.12.2
krb5==1.21.2
langcodes==3.4.0
language-data==1.2.0
lcms2==2.16
lerc==4.0.0
libabseil==20240116.2
libarrow==15.0.2
libarrow-acero==15.0.2
libarrow-dataset==15.0.2
libarrow-flight==15.0.2
libarrow-flight-sql==15.0.2
libarrow-gandiva==15.0.2
libarrow-substrait==15.0.2
libblas==3.9.0
libbrotlicommon==1.1.0
libbrotlidec==1.1.0
libbrotlienc==1.1.0
libcblas==3.9.0
libcrc32c==1.1.2
libcurl==8.8.0
libdeflate==1.2
libevent==2.1.12
libexpat==2.6.2
libffi==3.4.2
libgd==2.3.3
libglib==2.80.2
libgoogle-cloud==2.24.0
libgoogle-cloud-storage==2.24.0
libgrpc==1.62.2
libhwloc==2.10.0
libiconv==1.17
libintl==0.22.5
libjpeg-turbo==3.0.0
liblapack==3.9.0
libparquet==15.0.2
libpng==1.6.43
libprotobuf==4.25.3
libre2-11==2023.09.01
libsodium==1.0.18
libsqlite==3.45.3
libssh2==1.11.0
libthrift==0.19.0
libtiff==4.6.0
libutf8proc==2.8.0
libwebp==1.4.0
libwebp-base==1.4.0
libxcb==1.15
libxgboost==2.0.3
libxml2==2.12.7
libxslt==1.1.39
libzlib==1.2.13
lightgbm==4.3.0
llvmlite==0.41.1
lxml==5.2.2
lz4-c==1.9.4
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gmp==6.1.0
m2w64-libwinpthread-git==5.0.0.4634.697f757
mako==1.3.5
marisa-trie==1.1.0
markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
markupsafe==2.1.5
mathjax==2.7.7
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
miniful==0.0.6
missingno==0.5.2
mkl==2023.2.0
mlflow==2.13.0
mlflow-skinny==2.13.0
mlflow-ui==2.13.0
mlxtend==0.23.1
more-itertools==10.2.0
msys2-conda-epoch==20160418
multimethod==1.11
munkres==1.1.4
murmurhash==1.0.10
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
numba==0.58.1
numexpr==2.10.0
numpy==1.26.4
openjpeg==2.5.2
openssl==3.3.0
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
orc==2.0.1
orjson==3.10.3
packaging==24
pandas==2.1.4
pandas-profiling==3.2.0
pango==1.52.2
paramiko==3.4.0
parso==0.8.4
pathy==0.10.3
patsy==0.5.6
pcre2==10.43
phik==0.12.3
pickleshare==0.7.5
pillow==10.3.0
pip==24
pixman==0.43.4
pkgutil-resolve-name==1.3.10
platformdirs==4.2.2
plotly==5.22.0
plotly-resampler==0.8.3.2
pmdarima==2.0.4
preshed==3.0.9
prometheus_client==0.20.0
prometheus_flask_exporter==0.23.0
prompt-toolkit==3.0.42
protobuf==4.25.3
psutil==5.9.8
pthread-stubs==0.4
pthreads-win32==2.9.1
pure_eval==0.2.2
py-xgboost==2.0.3
pyarrow==15.0.2
pybind11-abi==4
pycaret==3.3.1
pycparser==2.22
pydantic==2.7.1
pydantic-core==2.18.2
pydeck==0.8.0
pyfume==0.2.25
pygments==2.18.0
pyldavis==3.4.1
pymdown-extensions==10.8.1
pynacl==1.5.0
pynndescent==0.5.12
pyod==1.1.3
pyparsing==3.1.2
pysocks==1.7.1
python==3.11.9
python-cufflinks==0.17.3
python-dateutil==2.9.0
python-fastjsonschema==2.19.1
python-graphviz==0.20.3
python-kaleido==0.2.1
python-tzdata==2024.1
python-xxhash==3.4.1
python_abi==3.11
pytz==2024.1
pywavelets==1.4.1
pywin32==306
pywin32-on-windows==0.1.0
pyyaml==6.0.1
pyzmq==26.0.3
querystring_parser==1.2.4
re2==2023.09.01
referencing==0.35.1
regex==2024.5.15
requests==2.32.2
retrying==1.3.3
rich==13.7.1
rpds-py==0.18.1
schemdraw==0.15
scikit-base==0.7.8
scikit-learn==1.4.2
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.12.2
seaborn-base==0.12.2
setuptools==70.0.0
shellingham==1.5.4
simpful==2.12.0
six==1.16.0
sktime==0.26.0
smart_open==6.4.0
smmap==4.0.0
snappy==1.2.0
soupsieve==2.5
spacy==3.7.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlalchemy==2.0.30
sqlparse==0.5.0
srsly==2.4.8
st-annotated-text==4.0.1
stack_data==0.6.2
statsmodels==0.14.2
streamlit==1.35.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tangled-up-in-unicode==0.2.0
tbats==1.1.3
tbb==2021.12.0
tenacity==8.3.0
textblob==0.15.3
thinc==8.2.3
threadpoolctl==3.5.0
tk==8.6.13
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
trace-updater==0.0.9.1
traitlets==5.14.3
typeguard==4.2.1
typer==0.9.4
typing-extensions==4.11.0
typing_extensions==4.11.0
tzdata==2024a
tzlocal==5.2
ucrt==10.0.22621.0
umap-learn==0.5.5
urllib3==2.2.1
validators==0.28.2
vc==14.3
vc14_runtime==14.38.33135
visions==0.7.4
vs2015_runtime==14.38.33135
waitress==2.1.2
wasabi==1.1.2
watchdog==4.0.1
wcwidth==0.2.13
weasel==0.3.4
websocket-client==1.8.0
werkzeug==3.0.3
wheel==0.43.0
widgetsnbextension==4.0.10
#win_inet_pton==1.1.0
wordcloud==1.9.3
wrapt==1.16.0
wurlitzer==3.1.0
xgboost==2.0.3
xorg-kbproto==1.0.7
xorg-libice==1.1.1
xorg-libsm==1.2.4
xorg-libx11==1.8.9
xorg-libxau==1.0.11
xorg-libxdmcp==1.1.3
xorg-libxext==1.3.4
xorg-libxpm==3.5.17
xorg-libxt==1.3.0
xorg-xextproto==7.3.0
xorg-xproto==7.0.31
xxhash==0.8.2
xz==5.2.6
yaml==0.2.5
ydata-profiling==4.8.3
yellowbrick==1.5
zeromq==4.3.5
zipp==3.17.0
zlib==1.2.13
zstd==1.5.6
